{% extends 'base.html' %}
{% load static %}

{% block title %}

    Quem sou eu?

{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="flex-grow content container mx-auto mb-8 mt-28 flex flex-col justify-center items-center">
    <section class="flex flex-col lg:flex-row items-center lg:space-x-8 lg:space-y-0 p-0 px-6 md:px-0 md:p-6">
        <div class="cover flex-1 hidden md:flex justify-center items-center overflow-hidden h-64 lg:h-[50vh] rounded-lg">
            <img src="{% static 'assets/eu.jpg' %}" alt="Imagem sobre a organização" class="cover-image">
        </div>

        <div class="flex-1 flex flex-col gap-4 p-4 text-lg text-gray-700 leading-relaxed">
            <h1 class="text-4xl text-center md:text-start md:text-5xl leading-tight" style="color: var(--tertiary-color-light); font-family: 'Piepie W01 Regular', sans-serif;">Quem sou eu?</h1>
            <p style="color: var(--secondary-color-light);">
                Olá! Meu nome é Rafael Pinheiro, e minha jornada é guiada pela criatividade e pela paixão por transformar ideias em realidade. Comecei e continuo minha trajetória atuando na igreja, aprendendo a usar programas e técnicas para criar artes e vídeos que dão vida às mensagens e eventos. Foi nesse ambiente que desenvolvi meu olhar criativo e descobri o impacto do design em conectar pessoas e transmitir mensagens de forma poderosa.

                Hoje, trabalho como desenvolvedor, unindo minha bagagem artística com habilidades técnicas para criar soluções criativas e funcionais. Já tive a oportunidade de desenvolver designs para diversas páginas, sempre buscando um equilíbrio perfeito entre estética e usabilidade.
                
                Meu objetivo vai além de criar; desejo também colaborar para que outros possam alcançar designs de alto nível. Seja por meio de um código bem estruturado, de uma arte impactante ou do compartilhamento de conhecimento, acredito que cada projeto é uma oportunidade de aprendizado, inovação e de deixar uma marca positiva no mundo.
            </p>
        </div>
    </section>
</div>
{% endblock %}
