{% extends 'base.html' %}
{%  load static %}

{% block title %}

    Pine Studio

{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container mx-auto pt-24 flex flex-col items-center">
    <div class="flex flex-col gap-6 justify-center items-center w-full min-h-[80vh]">
        <img class="max-w-sm md:max-w-md lg:max-w-lg h-auto" src="{% static 'assets/pine.png' %}" alt="logo">
        <div class="rounded-full cursor-pointer px-8 py-4 hover:scale-105 transition-transform duration-300" style="background-color: var(--tertiary-color); color: var(--secondary-color-light);">
            Veja <b>nossos Criativos!</b>
        </div>
    </div>    
</div>
{% endblock %}