{% extends 'base.html' %}
{% load static %}


{% block title %}

Nossos Packs

{% endblock %}

{% block content %}

<div class="flex-grow content container mx-auto mb-8 mt-28 flex flex-col justify-center items-center">
    <h1 class="text-4xl md:text-6xl mb-12 text-center text-white" style="color: var(--secondary-color-light); font-family: 'Piepie W01 Regular', sans-serif;">
        Nossos Packs
    </h1>

    <div class="mb-2 flex md:hidden px-2 md:px-0 w-full">
        <button class="w-full text-white px-4 py-2 rounded transition duration-300" style="background-color: var(--subcolor-dark);" onclick="toggleModal()">
            Filtros
        </button>
    </div>

    <div id="filterModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden flex justify-center items-center z-50 cursor-pointer" onclick="closeModal(event)">
        <div class="filterModal p-6 rounded-lg w-11/12 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 flex flex-col items-center" style="background-color: var(--primary-color);">
            <h2 class="text-3xl text-white mb-2">Filtrar <b>Packs</b></h2>
    
            <form method="get" action="{% url 'packs' %}" class="w-full">
                <div class="mb-4 w-full">
                    <label for="category" class="block text-white mb-2 font-medium">Categoria</label>
                    <select name="is_free" id="is_free" class="w-full text-gray-800 px-4 py-2 rounded-md focus:outline-none">
                        <option value="">Selecione</option>
                        <option value="true" {% if request.GET.is_free == "true" %}selected{% endif %}>Gratuito</option>
                        <option value="false" {% if request.GET.is_free == "false" %}selected{% endif %}>Pago</option>
                    </select>
                </div>
    
                <div class="flex flex-col sm:flex-row gap-2 sm:gap-4">
                    <button type="reset" class="w-full sm:w-1/2 text-white px-4 py-2 rounded-md transition duration-300" onclick="resetFilters()" style="background-color: var(--secondary-color-dark);">
                        Limpar Filtros
                    </button>
    
                    <button type="submit" class="w-full sm:w-1/2 text-white px-4 py-2 rounded-md transition duration-300" style="background-color: var(--subcolor-dark);">
                        Filtrar
                    </button>
                </div>
            </form>    
        </div>
    </div>
    
    <form method="GET" action="{% url 'packs' %}" class="w-full">
        <div class="search flex flex-col md:flex-row gap-2 md:mb-4 px-2 md:px-0">
            <input 
                type="text" 
                name="q" 
                placeholder="Buscar packs" 
                value="{{ query }}" 
                class="p-2 px-4 border border-gray-300 rounded-md w-full text-white"
                style="background-color: var(--secondary-color-dark); border: none;"
            >

            <button type="submit" class="hidden md:block px-4 py-2 rounded-md" style="background-color: var(--secondary-color-dark); color: white;">
                Buscar
            </button>

            <button type="button" class="text-white px-4 py-2 hidden md:flex rounded-md transition duration-300" style="background-color: var(--subcolor-dark);" onclick="toggleModal()">
                Filtros
            </button>
        </div>
    </form>

    <div class="articles flex flex-col gap-6 w-full min-h-[18.9vh] p-2 md:p-0 justify-center">
        {% for pack in packs %}
        <div class="pack p-4 rounded-lg shadow-md flex flex-col md:flex-row gap-2 md:gap-4 h-auto md:h-[25rem] cursor-pointer" style="background-color: var(--secondary-color-dark);">
            <div class="cover-article w-full md:w-1/2 flex-shrink-0">
                <img src="{{ pack.cover.url }}" alt="{{ pack.name }}" class="w-full h-[250px] md:h-full object-cover rounded-lg" />
            </div>
        
            <div class="article-content flex flex-col justify-between w-full md:w-1/2 p-2 md:p-4 gap-4">
                <div>
                    <div class="flex flex-col gap-2 md:gap-0 md:flex-row justify-between items-center md:items-end">
                        <a href="{% url 'pack_detail' slug=pack.slug %}">
                            <h2 class="text-white text-center md:text-left text-3xl md:text-4xl"  style="color: var(--secondary-color-light); font-family: 'Piepie W01 Regular', sans-serif;">{{ pack.name }}</h2>
                        </a>
                        <h1 class="text-xl md:text-2xl text-gray-900 md:mr-10" 
                            style="color: var(--tertiary-color-light); font-family: 'Montserrat', sans-serif;">
                            {% if pack.price %}
                                R$ <b>{{ pack.price }}</b>
                            {% else %}
                                Grátis
                            {% endif %}
                        </h1>
                    </div>
                    <p class="mt-2 text-white text-center md:text-left text-sm md:text-base">{{ pack.description|truncatewords:40 }}</p>
                </div>
                <a href="{% url 'pack_detail' slug=pack.slug %}" class="mt-4 md:mt-0 w-full md:w-1/3 flex justify-center items-center gap-2 px-4 py-4 md:px-4 md:py-2 rounded-full bg-secondary text-white transition-colors duration-300 hover:bg-primary" style="background-color: var(--subcolor-dark); color: white;">
                    <h3 class="text-sm md:text-base">Adquira Agora!</h3>
                    <ion-icon name="arrow-redo" class="text-lg md:text-xl"></ion-icon>
                </a>
            </div>
        </div>
        
        {% empty %}
        <p class="text-center text-gray-500 col-span-full">Nenhum recomendação encontrada</p>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <div class="flex justify-center mt-8">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 mx-1 rounded bg-gray-200 hover:bg-gray-300">Anterior</a>
        {% endif %}

        <span class="px-4 py-2 mx-1 bg-gray-300 rounded">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 mx-1 rounded bg-gray-200 hover:bg-gray-300">Próximo</a>
        {% endif %}
    </div>
    {% endif %}
</div>

<script>
    function toggleModal() {
        const modal = document.getElementById('filterModal');
        modal.classList.toggle('hidden');
    }

    function resetFilters() {
        document.getElementById('category').value = '';
        document.querySelector('form').submit();
    }

    function closeModal(event) {
        const modalContent = event.target.closest('.filterModal');
        if (!modalContent) {
            toggleModal();
        }
    }

    function toggleDropdown() {
        const dropdown = document.getElementById("dropdown");
        dropdown.classList.toggle("hidden");
    }
</script>

{% endblock %}