{% extends 'base.html' %}
{% load static %}

{% block title %}
Detalhes do Pack - {{ pack.name }}
{% endblock %}

{% block content %}

<div class="flex-grow content container mx-auto mb-8 mt-28 flex flex-col justify-center items-center px-4">
    <div class="messages-container">
        {% if messages %}
            <div class="flex justify-center items-center mb-6 w-full">
                {% for message in messages %}
                    <div class="message text-center p-4 mb-4 w-full text-white rounded-md
                        {% if message.tags == 'error' %} bg-red-500 {% endif %}"
                        style="{% if message.tags == 'success' %} background-color: var(--subcolor-dark);{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="flex flex-col mb-12 gap-4">
        <div class="flex flex-wrap md:flex-nowrap">
            <div class="flex-shrink-0 w-full md:w-1/2 mb-4 md:mb-0 md:mr-6">
                <div class="relative w-full pt-[56.25%] rounded-md shadow-md overflow-hidden">
                    <img src="{{ pack.cover.url }}" alt="{{ pack.name }}" class="absolute inset-0 w-full h-full object-cover" />
                </div>
            </div>
            <div class="flex flex-col gap-4 w-full md:w-1/2 justify-center p-4">
                <div class="flex flex-col gap-2 md:gap-0 md:flex-row justify-between items-center md:items-end">
                    <h1 class="text-5xl text-left text-gray-900" style="color: var(--secondary-color-light); font-family: 'Piepie W01 Regular', sans-serif;">{{ pack.name }}</h1>
                    <h1 class="text-xl text-right md:text-3xl text-gray-900 w-1/3" 
                        style="color: var(--tertiary-color-light); font-family: 'Montserrat', sans-serif;">
                        {% if pack.price %}
                            R$ <b>{{ pack.price }}</b>
                        {% else %}
                            Grátis
                        {% endif %}
                    </h1>
                </div>
                <p class="text-base md:text-lg text-white">{{ pack.description }}</p>
                <div class="flex flex-col gap-2 md:gap-0">
                    <h1 class="text-lg md:text-xl text-gray-900" style="color: var(--tertiary-color-light); font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Itens <b>Inclusos:</b></h1>
                    <div class="gap-4 hidden md:flex">
                        {% for item in pack.items.all %}
                            <div class="text-lg border-b-2 border-dashed" 
                            style="color: var(--secondary-color-light-opacity); border-color: var(--secondary-color-light-opacity) !important; 
                                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                {{ item.name }}
                            </div>
                        {% empty %}
                            <div class="text-lg border-b-2 border-dashed pb-2" 
                                style="color: var(--secondary-color-light-opacity); border-color: var(--secondary-color-light-opacity) !important; 
                                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                Nenhum item vinculado.
                            </div>
                        {% endfor %}
                    </div>
                    <div class="md:hidden grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-auto gap-4">
                        {% for item in pack.items.all %}
                            <div class="text-lg border-b-2 border-dashed pb-2"
                                 style="color: var(--secondary-color-light-opacity); border-color: var(--secondary-color-light-opacity) !important; 
                                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                {{ item.name }}
                            </div>
                        {% empty %}
                            <div class="text-lg border-b-2 border-dashed pb-2" 
                                 style="color: var(--secondary-color-light-opacity); border-color: var(--secondary-color-light-opacity) !important; 
                                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                Nenhum item vinculado.
                            </div>
                        {% endfor %}
                    </div>                    
                </div>
            </div>
        </div>
        {% if pack.is_free %}
            <div 
                class="rounded-lg text-center cursor-pointer py-4 open-modal-pack" 
                style="background-color: var(--tertiary-color); color: var(--secondary-color-light);"
                data-modal-id="freePackModal">
                Obter <b>Gratuitamente</b>
            </div>
        {% else %}
            <a href="{{ pack.sales_link }}">
                <div 
                    class="rounded-lg text-center cursor-pointer py-4" 
                    style="background-color: var(--tertiary-color); color: var(--secondary-color-light);">
                    Adquira <b>agora!</b>
                </div>
            </a>
        {% endif %}
    </div>

    <div id="freePackModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50 cursor-pointer">
        <div class="bg-white flex flex-col gap-8 p-8 rounded-lg w-11/12 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 flex flex-col items-center" style="background-color: var(--primary-color);">
            <h2 class="text-3xl text-white text-center">Obtenha este <b>Pack Gratuitamente</b></h2>
            
            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="flex flex-col">
                    <label for="id_name" class="text-white mb-2">Nome completo</label>
                    {{ form.name }}
                </div>
            
                <div class="flex flex-col">
                    <label for="id_email" class="text-white mb-2">E-mail</label>
                    {{ form.email }}
                </div>
            
                <div class="flex flex-col">
                    <label for="id_found_us_through" class="text-white mb-2">Por onde nos encontrou?</label>
                    {{ form.found_us_through }}
                </div>

                <div hidden>
                    {{ form.pack }}
                </div>
            
                <div class="flex gap-2 items-center justify-center">
                    <label for="id_consent_for_marketing" class="text-white">Concordo em receber materiais de marketing</label>
                    {{ form.consent_for_marketing }}
                </div>
            
                <button type="submit" class="w-full text-white px-4 py-2 rounded-md transition duration-300" style="background-color: var(--subcolor-dark);">
                    Enviar
                </button>
            </form>            
        </div>
    </div>

    <div class="flex flex-col justify-center items-center gap-8">
        {% if creatives_1080x1350 %}
            <div class="w-full">
                <h2 class="text-2xl mb-4" style="color: var(--tertiary-color-light);">Posts <b>Verticais</b></h2>
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                    {% for creative in creatives_1080x1350 %}
                        <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                            <img src="{{ creative.image.url }}" alt="{{ creative.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if creatives_1080x1080 %}
            <div class="w-full">
                <h2 class="text-2xl mb-4" style="color: var(--tertiary-color-light);">Posts <b>Quadrados</b></h2>
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                    {% for creative in creatives_1080x1080 %}
                        <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                            <img src="{{ creative.image.url }}" alt="{{ creative.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    
        {% if creatives_1080x1920 %}
            <div class="w-full">
                <h2 class="text-2xl mb-4">Stories</h2>
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                    {% for creative in creatives_1080x1920 %}
                        <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                            <img src="{{ creative.image.url }}" alt="{{ creative.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    
        {% if creatives_carousels_square %}
            <div class="w-full">
                <h2 class="text-2xl mb-4" style="color: var(--tertiary-color-light);">Carrosséis <b>Quadrados</b></h2>
                {% for creative, carousels in creatives_carousels_square.items %}
                    <div class="mb-6">
                        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                            <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                                <img src="{{ creative.image.url }}" alt="{{ creative.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                            </div>
                            {% for carousel in carousels %}
                                <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                                    <img src="{{ carousel.image.url }}" alt="{{ carousel.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if creatives_carousels_vertical %}
            <div class="w-full">
                <h2 class="text-2xl mb-4" style="color: var(--tertiary-color-light);">Carrosséis <b>Verticais</b></h2>
                {% for creative, carousels in creatives_carousels_vertical.items %}
                    <div class="mb-6">
                        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                            <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                                <img src="{{ creative.image.url }}" alt="{{ creative.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                            </div>
                            {% for carousel in carousels %}
                                <div class="aspect-w-1 aspect-h-1 rounded-md shadow-lg overflow-hidden">
                                    <img src="{{ carousel.image.url }}" alt="{{ carousel.name }}" class="w-full h-full object-cover cursor-pointer open-modal"/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div id="image-modal" class="fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center hidden px-4 md:px-0">
        <img id="modal-image" class="w-[35rem] max-w-full max-h-full rounded-md" alt="Imagem ampliada">
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".open-modal").on("click", function () {
        const imageUrl = $(this).attr("src");
        $("#modal-image").attr("src", imageUrl);
        $("#image-modal").removeClass("hidden").addClass("flex");
    });

    $("#image-modal").on("click", function (e) {
        if ($(e.target).is("#image-modal")) {
            $(this).removeClass("flex").addClass("hidden");
        }
    });

        $(document).on("keydown", function (e) {
            if (e.key === "Escape" || e.keyCode === 27) {
                $("#image-modal").addClass("hidden");
            }
        });

        $('.open-modal-pack').on('click', function () {
            const modalId = $(this).data('modal-id');
            $('#' + modalId).removeClass('hidden');
        });

        $('.close-modal').on('click', function () {
            $(this).closest('.fixed').addClass('hidden');
        });

        $('#freePackModal').on('click', function (e) {
            if ($(e.target).is('#freePackModal')) {
                $(this).addClass('hidden');
            }
        });

        setTimeout(function () {
            $('.message').fadeOut(500);
        }, 5000)
    });
</script>

{% endblock %}
