<footer class="py-6" style="background-color: var(--tertiary-color-dark);">
    <div class="max-w-6xl mx-auto px-4 lg:px-8">
        <div class="p-4 md:p-8 flex flex-col md:flex-row md:space-x-8 lg:space-x-16 space-y-6 md:space-y-0">
            <div class="md:w-3/5">
                <h3 class="text-lg font-semibold mb-2 text-white">Quem sou eu?</h3>
                <p class="text-gray-400 text-sm lg:text-base">Minha jornada é guiada pela criatividade e pela paixão por transformar ideias em realidade. Comecei e continuo minha trajetória atuando na igreja, aprendendo a usar programas e técnicas para criar artes e vídeos que dão vida às mensagens e eventos.</p>
            </div>
            <div class="hidden md:block w-full md:w-auto">
                <h3 class="text-lg font-semibold mb-2 text-white">Links Úteis</h3>
                <ul class="text-gray-400 space-y-1">
                    <li><a href="{% url 'home' %}" class="hover:underline">Início</a></li>
                    <li><a href="{% url 'packs' %}" class="hover:underline">Nossos Packs</a></li>
                    <li><a href="{% url 'about' %}" class="hover:underline">Quem sou eu</a></li>
                    <li><a href="#contact" class="hover:underline">Contato</a></li>
                </ul>
            </div>
            <div class="w-full md:w-auto">
                <h3 class="text-lg font-semibold mb-2 text-white">Siga-nos</h3>
                <ul class="text-gray-400 space-y-1">
                    <li><a href="https://www.instagram.com/pine.creativestudio/" target="_blank" class="hover:underline">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-4 border-t border-gray-700">
        <p class="text-gray-400 text-sm">&copy; 2024 Pine. Todos os direitos reservados.</p>
    </div>
</footer>
