/* General Settings */

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: 'San Francisco';
    src: url("{% static 'fonts/SF-Pro.dmg' %}") format('dmg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #F7C730;
    --secondary-color-light: #fffcf6;
    --secondary-color-dark: #272727;
    --accent-color: #f7b130;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: rgb(224, 224, 224);
    border-radius: 10px;
}

input {
    outline: none;
}

/* Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    width: 100%;
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem !important;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    flex: 1;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-position: right 1em top 50%;
    cursor:pointer;
    font-size: 0.9em;
}

select::-ms-expand {
    display: none;
    cursor: pointer;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select2-container--default .select2-selection--multiple {
    padding: 0 0.5rem;
    border: 0.1rem solid rgba(197, 197, 197, 0.644) !important;
}